<!DOCTYPE html>
<html>
<head>
<style>

header, body {
    text-align: center;
}

img {
   width: 500px;
   display: block;
    margin: auto;
}

</style>
</head>
<body>


<header>
   <h> This is about Lego </h>
</header>

<%= link_to 'Home', root_path %>

</body>
</html>

