<p class="aboutMP">Our Mission:</p>
<p class="aboutP">
 
<ul> 
  <li>Sharing biblical resources for children around the world</li>
  <li>Equipping Children with knowledge of the Bible</li>
  <li>Cultivate interest in bible lessons through games and videos</li>
</ul>
</p>
<p class="aboutMP">Our Team:</p>
<%= image_tag("/assets/sadhish_consultant.jpg",  :alt =>'', :class=> "aboutImg" ) %>
<p class="aboutName"> Sadhishkhanna Vijaya Balan</p>
<p class="descName"> The Consultant</p>

<%= image_tag("/assets/angela.jpg",  :alt =>'', :class=> "aboutImg" ) %>
<p class="aboutName"> Angela Chung</p>
<p class="descName"> The designer</p>




