
<div class="center jumbotron">
  <h1>FHL Bible School</h1>
  
</div>

<%= link_to "Sign up now", "#", class: "btn btn-danger btn-lg" %>

<!DOCTYPE html>
<html>
<head>
<style>



img {
   width: 500px;
   display: block;
    margin: auto;
}

</style>
</head>
<body>

</body>
</html>

