<!DOCTYPE html>
<html>
<head>
<style>

header, body {
    text-align: center;
}

img {
   width: 500px;
   display: block;
    margin: auto;
}

</style>
</head>
<body>


<header>
   <h1 style="font-family:Comic Sans MS;">Welcome to Angela's Brick</h1>
</header>


 <p> <img src="http://www.thesundaily.my/sites/default/files/thesun/Catalogue/4_022_c2186_c2186598_17322_445.jpg" width="800" style="horizontal-align:middle" > </p>

<article>
  <h1>This is my Lego city Collection </h1>
</article>

<%= link_to 'About', about_path %>
</body>
</html>

