<div class="container"
    <footer class="footer"
        <small>
            Copyright &copy; FHL Group 
            by Angela Chung
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %> </li>
            </ul>
        </nav>
    </footer>
</div>